// breakpoints
$xs2: 320px;
$xs: 400px;
$sm: 640px;
$md: 768px;
$lg: 1024px;
$xl: 1280px;
$xl2: 1536px;

// border
$b: 1px;
$b-xs: 0.125rem;
$b-sm: 0.25rem;
$b-md: 0.5rem;
$b-lg: 0.75rem;
$b-xl: 1rem;
